* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
tbody {
    width: 320px;
    overflow-y: auto;
    margin: 0px;
}
tbody { display: block; }
tbody {
    height: 475px;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.A, .gris{
    width: 480px;
    background-color: rgb(247, 247, 247);
    margin: 0px;
    border-bottom: #dbdada 1px solid;
    color:black;
    display: block;
    padding: 12px;
    text-decoration: none;

}
.gris{
    background-color: rgba(236, 236, 236, 0.788);
}
.A:hover{
    background-color: rgb(219, 219, 219);

}
p{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.buscador{
    width: 300px;
    height:70px;
    padding: 10px;
    border: none;
    background-color: var(--GrisClaro);
    border-radius: 8px;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    color:white;
    
}

