*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Noto Sans', sans-serif;
}
:root{
    --GrisOscuro: #8A8A88 ;
    --Gris: #A3A3A1 ;
    --GrisClaro: #bebebe ;
    --Blanco: #F0F0ED ;
    --Letras:#636362 ;
    --LetrasRojas:#c53930 ;

    --Titulo1: 18px;
    --Titulo2: 16px;
    --Texto: 14px;

    

}

.Caja{
    width: 375px;
    height: 650px;
    border: #A3A3A1 4px solid;
    vertical-align: middle;
    
    padding-bottom: 30px;
    margin: auto;
    border-radius: 50px;
    background-color: rgba(241, 240, 240, 0.788);
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: center;
    
}
.textos{
    width: 300px;
    height: 20px;
    color: var(--LetrasRojas);
    margin-top: 25px;
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;
}